@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

* {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif; }

p {
  margin: 0; }

.card img {
  border-radius: 20px; }

.title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; }

.btn {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #4876e8; }

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bali.jpg"); }
.hero .container {
  padding: 107px 48px 48px 48px; }
.hero .container h1 {
  font-size: 55px;
  font-weight: 700; }
.hero .container h2 {
  font-size: 30px; }
.hero .container p {
  font-size: 20px; }
.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(1, 0, 1, 0.616),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  bottom: 0; }
.hero .container {
  position: relative;
  z-index: 1; }
#navbar {
  z-index: 2; }

.pulau,
.kontak,
.kuliner {
  margin: 50px 0; }

.card-title {
  font-size: 18px;
  font-weight: 700; }

section {
  padding-top: 80px;
  margin-top: -60px; }

#welcome-text {
  width: 100%;
  font-weight: bold;
  animation: move 4s infinite;
  animation-delay: 3s; }

@keyframes move {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  } }

#navbar {
  transition: 0.4s; }

.pulau .container .card-area {
  gap: 16px; }
.pulau .container .card-area .card {
  width: 211px;
  transition: 0.5s;
  min-height: 300px; }
.pulau .container .card-area .card .card-body {
  bottom: 0;
  margin: 20px;
  border-radius: 20px;
  background-color: #FFFFFF; }

.pulau .container .card-area .card img,
.kuliner .container .card-area .card img,
.destinasi .container .card-area .img-card {
  height: 300px;
  object-fit: cover;
  object-position: center; }

.kuliner .container .kuliner-text {
  gap: 30px;
  display: flex;
  margin: 0 auto;
  align-items: center; }

.budaya .container .budaya-text p {
  margin: 16px 0 32px 0; }

.kontak .container .kontak-icon {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: center; }
.kontak .container .kontak-icon img {
  width: 50px; }

.destinasi .container .card-body {
  bottom: 0;
  background-color: #FFFFFF; 
  border-start-end-radius: 20px; }
  
.kuliner .container .card-area .card,
.destinasi .container .card-area .img-card {
  width: 324px; }

/* Mobile */
@media (max-width: 992px) {
  .hero .container {
    text-align: center; } 

  .hero .container h1 {
    font-size: 35px; }

  .map .container img {
    width: 100%;
    margin-bottom: 20px; }

  .hero .container img,
  .pulau .container .card-area .card,
  .budaya .container .budaya-img img,
  .kuliner .container .card-area .card,
  .destinasi .container .card-area .img-card {
    width: 100%;
    margin-top: 20px; }
}

/* Dekstop */
@media (min-width: 992px) {
  .hero .container,
  .map .container,
  .pulau .container .card-area,
  .kuliner .container .card-area,
  .destinasi .container .card-area {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center; }

  .map .container,
  .pulau .container .card-area,
  .kuliner .container .card-area,
  .destinasi .container .card-area {
    margin-top: 20px; }

  .hero .container .hero-text {
    width: 890px; }

  .hero .container img,
  .kuliner .container .kuliner-text {
    width: 437px; }

  .map .container img {
    width: 551px; }

  .destinasi .container .card-area {
    flex-wrap: wrap;
    overflow: hidden; }

  

  .map .container .map-text,
  .pulau .container .card-area .card:hover,
  .pulau .container .card-area .card.active,
  .budaya .container .budaya-text  {
    width: 324px; }

  .pulau .container .card-area .card .card-body {
    display: none; }

  .pulau .container .card-area .card:hover .card-body,
  .pulau .container .card-area .card.active .card-body {
    display: inline-block; }

  .budaya .container {
    gap: 128px;
    display: flex;
    align-items: center;
    justify-content: center; }

  .budaya .container .budaya-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    justify-content: center; }

  .kuliner .container .kuliner-text {
    width: 499px; }
}
